<%- include('../v2/partials/meta') %>
    <%- include('../v2/partials/header') %>
        <link rel="stylesheet" href="../css/v2/global.css">
        <link rel="stylesheet" href="../css/v2/home.css">
        <div class="home">
            <div class="intro">
                <div class="img-wrapper">
                    <img src="../assets/cookie.svg" alt="Cookie">
                </div>
                <div class="text">
                    <p>Welcome to Yuqi's Cookie House 🍪!</p>
                    <p>We are a Discord server dedicated to Yuqi from (G)I-DLE.</p>
                    <p>This webpage is primarily used to spend cookies that earned by being active on the Discord
                        server.
                        More information can be found in the Info tab.</p>
                    <p>Hope you have great time!</p>
                </div>
            </div>

            <div class="facts">

            </div>
        </div>