.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop h1,
.shop h2 {
    color: var(--chocolate);
}

.shop a {
    text-decoration: underline;
    color: var(--chocolate);
}

.shop a:hover {
    color: var(--cookie);
}

.shop .catalogue {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    user-select: none;
}

.shop .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS Cookie', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0.8rem;
}

.shop .container .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cookie);
    min-height: 231px;
}

.shop .container .img-wrapper img {
    width: 100%;
    max-width: 346px;
}

.shop .container .name {
    font-size: 1.1rem;
}

.shop .container .buy-btn {
    background-color: var(--buy-blue);
    padding: 0.72rem 1.36rem;
    border: #00000033 dotted;
    cursor: pointer;
    user-select: none;
}

.shop .container .buy-btn:hover {
    background-color: var(--buy-blue-active);
}

.shop .container .buy-btn p {
    margin: 0;
}

@media (min-width: 768px) {
    .shop .catalogue {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.4rem;
    }
}

@media (min-width: 1440px) {
    .shop .catalogue {
        grid-template-columns: repeat(3, 1fr);
    }
}