:root {
    --background: #f4cccc;
    --cookie: #da9f83;
    --chocolate: #894b3b;
    --active: #ead1dc;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', cursive;
}