.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 24px 12px 124px;
    grid-gap: 16px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
}

.container img {
    width: 100%;
    height: auto;
}

.container .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #663399de;
    color: #fe9664;
    opacity: 0;
    transition: opacity 200ms linear;
    cursor: pointer;
}

.container .info:hover {
    opacity: 100%;
}

.container .info:active::before {
    content: "*command copied*";
}

@media screen and (min-width: 592px) {
    .wrapper {
        margin: 24px auto 124px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
    }
}

@media screen and (min-width: 864px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
    }
}

@media screen and (min-width: 1080px) {
    .wrapper {
        max-width: 1080px;
    }
}
