<%- include('./partials/meta') %>
    <%- include('./partials/header', { page: 'error' }) %>
        <link rel="stylesheet" href="/css/error.css">
        <div class="error">
            <h1>404 - Not Found</h1>
            <div class="img-wrapper">
                <img src="/assets/broken-cookie.png" alt="Error">
            </div>
        </div>