<div class="container" onclick="navigator.clipboard.writeText('-profile set background <%= item.id %>')">
    <img src="<%= item.src %>" alt="<%= item.name %>" />
    <div class="info">
        <p>
            <%= item.name %>
        </p>
    </div>
</div>