<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/backgrounds.css">
<%- include('../partials/meta') %>
    <%- include('../partials/header', { title: `Inventory : ${user.tag}` , subtitle: user.id }) %>
        <div class="main">
            <h1>Backgrounds</h1>
            <div class="wrapper">
                <% for (item of inventory.backgrounds) {%>
                    <%- include('./bgContainer.ejs', item) %>
                        <% } %>
            </div>
        </div>
        </div>
        <%- include('../partials/footer') %>