<div class="header-wrapper">
    <div class="header">
        <div class="logo">
            <!-- <img src="/assets/logo.webp" alt="Yuqi's Cookie House"> -->
            <p>Yuqi's Cookie House 🍪</p>
        </div>
        <div class="nav">
            <div class="<%= page === 'home' ? 'active' : '' %>">
                <a href="/v2/home">
                    <p>Home</p>
                </a>
            </div>
            <div class="<%= page === 'shop' ? 'active' : '' %>">
                <a href="/v2/shop">
                    <p>Shop</p>
                </a>
            </div>
            <div class="<%= page === 'info' ? 'active' : '' %>">
                <a href="/v2/info">
                    <p>Info</p>
                </a>
            </div>
            <div>
                <a href="https://discord.gg/DkWhBCv" target="_blank">
                    <p>Discord</p>
                </a>
            </div>
        </div>
    </div>
</div>