<link rel="stylesheet" href="/css/badges.css">
<%- include('../partials/meta') %>
    <%- include('../partials/header', { title: "profile badges" , subtitle: "shop - beta" }) %>
        <div class="wrapper">
            <h1>Coming Soon!</h1>
        </div>
        <%- include('../partials/footer') %>